@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; /* weight 400-700*/
    font-style: normal;
}

.parent-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.child-container {
    flex: 1;
    padding: 10px;
    border: 2px solid;
    border-color:black;
}

/* NAVBAR */
.navigation {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* aligns links to the right */
    gap: 20px;
    padding: 15px 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.navigation a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.2s ease;
}

.navigation a:hover {
    color: #ac2370;
}
