<!DOCTYPE html>
<html>
<head>
    <title>Map of All CS</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div class="navigation">
    <h1 class="nav-title">Map of All CS</h1>
    <div class="nav-links">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('major_plan') }}">Major Plan</a>
        <a href="{{ url_for('cs_map') }}">Map of All CS</a>
    </div>
   </div>
   <div class="map">
   <div class="parent-container">
    <div class="child-container">
        <h1>Theoretical Computer Science</h1>
        <div class="theory-container">
            <p>Algorithms</p>
            <p>Instructors at Wellesley: </p>
            <li>
                <a href="url">Brian Brubach-- algorithmic theory</a>
                <a href="url">Brian Tjaden-- algorithms in biology and genomics</a>
            </li>
        </div>
        <div class="theory-container">
            <p>Computability and Complexity</p>
        </div>
        <div class="theory-container">
            <p>Cryptography</p>
        </div>
        <div class="theory-container">
            <p>Parallel Programming</p>
        </div>
        <div class="theory-container">
            <p>Quantum Computation</p>
        </div>
    </div>
    <div class="child-container">
        <h1>Computer Engineering</h1>
        <div class="eng-container">
            <p>Computer Architecture</p>
        </div>
        <div class="eng-container">
            <p>Operating Systems</p>
        </div>
        <div class="eng-container">
            <p>Networking</p>
        </div>
        <div class="eng-container">
            <p>Compilers</p>
        </div>
    </div>
    </div>
   </div>
   </div>
</body>
</html>