<!DOCTYPE html>
<html>
<head>
    <title>Map of All CS</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color:#ffdbfe;">
   <div class="navigation">
    <h1 class="nav-title">Map of All CS</h1>
    <div class="nav-links">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('major_plan') }}">Major Plan</a>
        <a href="{{ url_for('cs_map') }}">Map of All CS</a>
    </div>
   </div>

<!--map body-->
<div class="parent-container">
    <!--theory-->
    <div class="child-container">
        <h1>Theoretical Computer Science</h1>
        <div class="theory-container">
            <h1>Algorithms</h1>
            <div class="theory-popup">
                <h1>Algorithms!</h1>
                <p>An algorithm is a set of step-by-step instructions. Popular examples include sorting algorithms, search algorithms, graph traversal algorithms, and data compressio algorithms. The study of algorithms teaches you how to design and implement algorithms, and how to prove properties such as correctness or efficiency.</p>
                <h2>Relevant instructors at Wellesley: </h2>
                <li><!--class = "vt323-regular"-->
                    <ul><a href="https://www.wellesley.edu/people/brian-brubach">Brian Brubach</a>: "algorithms and theoretical computer science motivated by a range of social good applications."</ul>
                    <ul><a href="https://www.wellesley.edu/people/brian-tjaden">Brian Tjaden</a>: "design, analysis, and implementation of algorithms in genomics and molecular biology."</ul>
                    <ul></ul>
                </li>
                <h2>Take a Course!</h2>
                <li>
                    <ul>CS 231: <a href="https://cs.wellesley.edu/~cs231/">Design and Analysis of Algorithms.</a>
                        <i>Core CS course.</i>
                    </ul>
                    <ul>CS 331: <a href="https://catalog.wellesley.edu/course.php?pos=87&doc_type=CS+331">Advanced Algorithm Design.</a>
                        <i>300-level CS elective.</i>
                    </ul>
                    <ul></ul>
                </li>
                <h2>Opportunities outside of Wellesley</h2>
                <p>The <a href="https://algorithm-wiki.csail.mit.edu/wiki/Main_Page">AlgoWiki</a> team at MIT FutureTech works on documenting algorithms throughout history.</p>
        </div>
        </div>
        <div class="theory-container">
            <h1>Computability and Complexity</h1>
        </div>
        <div class="theory-container">
            <h1>Cryptography</h1>
        </div>
        <div class="theory-container">
            <h1>Parallel Programming</h1>
        </div>
        <div class="theory-container">
            <h1>Quantum Computation</h1>
        </div>
    </div>
    <!--engineering-->
    <div class="child-container">
        <h1>Computer Engineering</h1>
        <div class="eng-container">
            <h1>Computer Architecture</h1>
        </div>
        <div class="eng-container">
            <h1>Operating Systems</h1>
        </div>
        <div class="eng-container">
            <h1>Networking</h1>
        </div>
        <div class="eng-container">
            <h1>Compilers</h1>
        </div>
    </div>
</div>
</body>

<!--hover script; could probably refactor and move to a diff file later-->
<script>
    document.querySelectorAll(".theory-container").forEach(item => {
    item.addEventListener("click", (e) => {
      e.stopPropagation(); //can't click anywhere until function is done

      //close all other popups
      document.querySelectorAll(".theory-container.active")
        .forEach(el => el.classList.remove("active")); //active = display (see style.css)

      //toggle this popup
      item.classList.toggle("active");
    });
  });

  //click anywhere else --> close all popups
  document.addEventListener("click", () => {
    document.querySelectorAll(".theory-container.active")
      .forEach(el => el.classList.remove("active"));
  });
</script>

</html>