<!DOCTYPE html>
<html>
<head>
    <title>Map of All CS</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div class="navigation">
    <h1 class="nav-title">Map of All CS</h1>
    <div class="nav-links">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('major_plan') }}">Major Plan</a>
        <a href="{{ url_for('cs_map') }}">Map of All CS</a>
    </div>
   </div>
   <div class="map">
   <div class="parent-container">
    <div class="child-container">
        <h1>Theoretical Computer Science</h1>
    </div>
    <div class="child-container">
        <h1>Computer Engineering</h1>
    </div>
    </div>
   </div>
   </div>
</body>
</html>