<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div class="navigation">
      {% if user %}
         <h1 class="nav-title">< {{ user }} > Home</h1>
      {% else %}
         <h1 class="nav-title">Home</h1>
      {% endif %}
      <div class="nav-links">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('major_plan') }}">Major Plan</a>
         <a href="{{ url_for('explore') }}">Explore</a>
    </div>
   </div>
   <div class="parent-container">
   <div class="child-container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
         <div>
            {% for message in messages %}
               <span class="flashed-message">{{ message }}</span>
            {% endfor %}
         </div>
      {% endif %}
      {% endwith %}
      <form method=POST action="{{ url_for('index') }}">
         <input type="username" name='username' value="" class="input_box">
         <input type="submit" name="login" value="Log In" class="submit_button">
         <input type="submit" name="logout" value="Log Out" class="submit_button">
      </form>
      <p>Please log in using your wellesley username (ex: rg123) to track your progress!</p>
   </div>
   <div class= "child-container">
      <h2>Blurb about website</h2>
      <p>To do</p>
      <p>This website was made by Nina Howley '27 and Aileen Liang '28 for the UpSkill: Software Development program.</p>
   </div>  
   </div>
</body>
</html>