<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div class="navigation">
      <h1 class="nav-title">Home</h1>
      <div class="nav-links">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('major_plan') }}">Major Plan</a>
        <a href="{{ url_for('cs_map') }}">Map of All CS</a>
    </div>
   </div>
   <h1> CS Course Dependencies 2025-2026</h1>
   <div class = "courses-iframe">
      <iframe src="{{ url_for('static', filename='course-dependency.html') }}" style="width: 1000px; height: 500px; border:1.5px solid; border-radius: 15px;"></iframe>
   </div>
</body>
</html>