<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div class="navigation">
      <h1 class="nav-title">Home - Welcome to Wellesley CS!</h1>
      <div class="nav-links">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('major_plan') }}">Major Plan</a>
         <a href="{{ url_for('explore') }}">Explore</a>
    </div>
   </div>
   <div class="parent-container">
   <div class="child-container">
      <h2>Login</h2>
      <p>To do</p>
   </div>
   <div class= "child-container">
      <h2>Blurb about website</h2>
      <p>To do</p>
   </div>  
   </div>
</body>
</html>