<!DOCTYPE html>
<html>
<head>
    <title>Major Plan</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navigation">
        <h1 class="nav-title">Major Plan</h1>
        <div class="nav-links">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('major_plan') }}">Major Plan</a>
            <a href="{{ url_for('cs_map') }}">Map of All CS</a>
        </div>
    </div>
    <div class="parent-container">
        <h1>Your Major Plan</h1>
        <div class="child-container">
            <h2>CS Major Requirements</h2>
            <h3>Core</h3>
            <ul>   
                <li>CS 111: Computer Programming and Problem Solving</li>
                <li>CS 230: Data Structures</li>
                <li>CS 231: Design and Analysis of Algorithms</li>
                <li>CS 235: Theory of Computation</li>
                <li>CS 240: Foundations of Computer Systems</li>
            </ul>
            <h3>Electives</h3>
            You must take additional CS classes until you have taken 9 CS classes in total (including the core). Two of these must be at the 300-level.
        </div>
        <div class="child-container">
            <h2>Current Courses Offered</h2>
        </div>
    </div>
</body>
</html>