<!DOCTYPE html>
<html>
<head>
    <title>Major Plan</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navigation">
        {% if user %}
        <h1 class="nav-title">< {{ user }} > Major Plan</h1>
        {% else %}
            <h1 class="nav-title">Major Plan</h1>
        {% endif %}
        <div class="nav-links">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('major_plan') }}">Major Plan</a>
            <a href="{{ url_for('explore') }}">Explore</a>
        </div>
    </div>
    <div>
    <div class="parent-container">
        <div class="child-container scrollable">
            {% if user %}
            <h2>Major Plan for <span style="color:#b8377e">{{ user }}</span></h2>
            {% else %}
                <h2>Please log in to see your major plan!</h2>
            {% endif %}
            <!--REQUIRED SEQUENCE-->
            <h3>Required Sequence</h3>
            {% if remaining_info.cores_remaining %}
                <p>You have {{ remaining_info.num_cores_remaining }} core course(s) remaining: {{ remaining_info.cores_remaining }}</p>
            {% else %}
                <p>Congratulations, you have completed your required core courses!</p>
            {% endif %}
            {% if user %}
                {% for course in all_courses %}
                {% if course.course_tag in ['CS 111', 'CS 230'] %}
                <div class="course-container core">
                    <span> {{ course.course_tag }}: {{ course.course_name }} </span>
                    {% if course.course_tag in taken_courses %}
                        <span class="taken-mark core">Taken</span>
                    {% else %}
                        <span class="taken-mark core">Not Taken</span>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            {% else %}
                <div class="course-container core">
                    <span>CS 111: Computer Programming and Problem Solving</span>
                </div>
                <div class="course-container core">
                    <span>CS 230: Data Structures</span>
                </div>
            {% endif %}
            <!--CORE (ANIMATED LIST)-->
            <h3>Core</h3>
            {% if user %}
                {% for course in all_courses %}
                {% if course.course_tag in ['CS 235', 'CS 231', 'CS 240'] %}
                <div class="course-container core">
                    <span> {{ course.course_tag }}: {{ course.course_name }} </span>
                    {% if course.course_tag in taken_courses %}
                        <span class="taken-mark core">Taken</span>
                    {% else %}
                        <span class="taken-mark core">Not Taken</span>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            {% else %}
                <div class="course-container core">
                    <span>CS 231: Design and Analysis of Algorithms</span>
                </div>
                <div class="course-container core">
                    <span>CS 235: Theory of Computation</span>
                </div>
                <div class="course-container core">
                    <span>CS 240: Foundations of Computer Systems</span>
                </div>
            {% endif %}
            <!--ELECTIVES-->
            <h3>Electives</h3>
            {% if remaining_info.electives_remaining > 0 %}
                <p>You have {{ remaining_info.electives_remaining }} electives remaining, {{ remaining_info.level_300s }} of which must be at the 300 level.</p>
            {% else %}
                <p>Congratulations, you have completed your electives!</p>
            {% endif %}
            {% if user %}
                {% for course in taken_electives %}
                <div class="course-container">
                    <div class="instructor-line">
                        <span>{{ course.course_tag }}: {{ course.course_name }}</span!>
                        <div style="display: inline-block;">
                            <form action="{{ url_for('drop_course') }}" method="POST" style="display: inline-block;">
                                <input type="hidden" name="course_code" value="{{ course.course_tag }}">
                                <input type="hidden" name="is_core" value="{{ course.course_core }}">
                                <button type="submit" class="add-button {% if course.course_core %}core{% endif %}">Drop</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="child-container scrollable">
            <!--div class="elective-list"-->
            <h2>All CS Courses offered at Wellesley</h2>
                {% for course in all_courses %}
                <div class="course-container {% if course.course_core %}core{% endif %}">
                    <div class="instructor-line">
                        <span>{{ course.course_tag }}: {{ course.course_name }}</span>
                        {% if user %}
                        {% if course.course_tag in taken_courses %}
                                <form action="{{ url_for('drop_course') }}" method="POST" style="display: inline-block;">
                                    <input type="hidden" name="course_code" value="{{ course.course_tag }}">
                                    <input type="hidden" name="is_core" value="{{ course.course_core }}">
                                    <button type="submit" class="add-button {% if course.course_core %}core{% endif %}">Drop</button>
                                </form>
                        {% else %}
                        <div style="display: inline-block;">
                            <form action="{{ url_for('add_course') }}" method="POST" style="display: inline-block;">
                                <input type="hidden" name="course_code" value="{{ course.course_tag }}">
                                <input type="hidden" name="is_core" value="{{ course.course_core }}">
                                <button type="submit" class="add-button {% if course.course_core %}core{% endif %}">Add</button>
                            </form>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</body>
</html>