<!DOCTYPE html>
<html>
<head>
    <title>Major Plan</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navigation">
        <h1 class="nav-title">Major Plan</h1>
        <div class="nav-links">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('major_plan') }}">Major Plan</a>
            <a href="{{ url_for('explore') }}">Explore</a>
        </div>
    </div>
    <div>
    <div class="parent-container">
        <div class="child-container">
        <div id="course-list">
            <h2>CS Major Requirements</h2>
            <h3>Core</h3>
            <div class="course-container checkable">
                <span>CS 111: Computer Programming and Problem Solving</span>
                <div class="course-checkbox"></div>
            </div>
            <div class="course-container checkable">
                <span>CS 230: Data Structures</span>
                <div class="course-checkbox"></div>
            </div>
            <div class="course-container checkable">
                <span>CS 231: Design and Analysis of Algorithms</span>
                <div class="course-checkbox"></div>
            </div>
            <div class="course-container checkable">
                <span>CS 235: Theory of Computation</span>
                <div class="course-checkbox"></div>
            </div>
            <div class="course-container checkable">
                <span>CS 240: Foundations of Computer Systems</span>
                <div class="course-checkbox"></div>
            </div>
            <h3>Electives</h3>
            You must take additional CS classes until you have taken 9 CS classes in total (including the core). Two of these must be at the 300-level.
        </div>
        </div>
        <div class="child-container">
            <h2>Spring '26 Course Offerings</h2>
            {% for course in courses %}
            <div class="course-container {% if course.course_core == 'True' %}core{% endif %}">
                <div class="instructor-line">
                    <p>{{ course.course_tag }}: {{ course.course_name }}</p>
                    {% if course.course_distribs %}
                        <span class="distribs">{{ course.course_distribs }}</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</body>
<script> //for button checking
    const list = document.getElementById("course-list");
    document.addEventListener("click", (e) =>{ //close popup on outside click
        const row = e.target.closest(".checkable");
        if (!row) return;
        row.classList.toggle("checked");

        // move element
        if (row.classList.contains("checked")) {
            list.appendChild(row); // move to bottom
        } else {
            // move back above checked ones
            const firstChecked = list.querySelector(".checkable.checked");
            if (firstChecked) {
                list.insertBefore(row, firstChecked);
            } else {
                list.prepend(row);
            }
        }
    });
</script>
</html>